<section class="h-100 h-custom gradient-custom-2 p-4">
    <div class="row d-flex justify-content-center align-items-center bg-light pe-5 ps-5">
        <div class="container m-4">
            <h2 class="titulo_registrar">Registrar Pedido</h2>
        </div>
        <hr>
        <h2 class="fs-1">Datos del cliente</h2>
        <form action="welcome" method="post">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Cedula del cliente</label>
                        <input type="number" name="id_cliente" id="id_cliente" class="form-control" required/>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Nombre</label>
                        <input type="text" name="nombre_cliente" id="nombre_cliente" class="form-control" required/>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Nombre del equipo</label>
                        <input type="text" name="nombre_equipo" id="nombre_equipo" class="form-control" required/>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Celular/teléfono</label>
                        <input type="text" name="telefono" name="telefono" class="form-control" required/>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="fs-1">Datos del pedido</h2>
            <h2 class="fs-2">Direccion</h2>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">País</label>
                        <input type="text" name="pais" name="pais" class="form-control" required/>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Ciudad</label>
                        <input type="text" name="ciudad" name="ciudad" class="form-control" required/>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Dirección</label>
                        <input type="text" name="direccion" name="direccion" class="form-control" required/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Descripcion</label>
                        <input type="text" name="descripcion" name="descripcion" class="form-control" required/>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container m-0 pt-4 pb-4">
                <div class="row">
                    <div class="col-6">
                        <h2 class="fs-1">Datos de los productos</h2>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-dark btn-block btn-lg mb-4 agregarProducto">
                            Agregar producto
                        </a>
                    </div>
                </div>
            </div>
            <div class="container p-0 m-0 outputProducto">

            </div>
            <button type="submit" class="btn btn-dark btn-block btn-lg mb-4">
                Guardar
            </button>
        </form>
    </div>
</section>

