h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bayon', sans-serif;
}

a,
p {
  font-family: 'Akshar', sans-serif;
  font-size: 18PX;
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.login {
  font-family: 'Bayon', sans-serif;
  font-weight: 900;
  font-size: 55px;
}

.login_item {
  font-family: 'Akshar', sans-serif;
  font-size: 18PX;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  position: relative;
}

.hero-section,
.hero-section>.container>.row {
  height: 100vh;
  margin-bottom: 5%;

}

.hero-section.inner-page {
  height: 60vh;
}

.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -120px;
}

@media screen and (max-width: 992px) {
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
}

.hero-section h1 {
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    text-align: start;
  }
}


.hero-section p {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: start;
}

.hero-section .iphone-wrap {
  position: relative;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap {
    text-align: center;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -90%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.671);
  border-radius: 30px;
  background-color: rgb(17, 17, 17);

}

@media screen and (max-width: 992px) {

  .hero-section .iphone-wrap .phone-2,
  .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  width: 80%;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-1 {
    margin-left: 10%;
    width: 40%;
    margin-top: 50px;
  }
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 80px;
  margin-left: 80px;
  width: 80%;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2 {
    width: 40%;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 992px) {
  #hero {
    margin-left: 50px;
  }
}

/*--------------------------------------------------------------
# Registrar Pedido Section
--------------------------------------------------------------*/

.titulo_registrar{
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  color: black;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #1A396B;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(26, 57, 107), rgb(253, 253, 253));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(26, 57, 107), rgb(251, 252, 253))
}

.bg-indigo {
  background-color: #1A396B;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

/*--------------------------------------------------------------
# Búsqueda Section
--------------------------------------------------------------*/

.search-bar{
  background-color: rgba(0, 0, 0, 0.747);
  width: 90%;
  max-width: 800px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
}

#select{
  background-color: #1A396B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 300px;
  padding: 15px 15px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

#select img{
  width: 15px;
}

#select ul{
  position: absolute;
  top: 110%;
  left: 0;
  list-style: none;
  background-color: rgb(240, 240, 240);
  color: black;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul li{
  padding: 5px 20px;
  cursor: pointer;
}

.search-bar input{
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

#select ul.open{
  max-height: 300px;
}

#selectUsuario{
  background-color: #1A396B;
  width: 50px;
  border-radius: 4px;
}

.botonUsuario{
  background-color: #1A396B;
  border-color: #1A396B;
  color: white;
  border-radius: 4px;
  padding: 12px;
  text-align: center;
}