{{#if failure}}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show m-4" role="alert">
        {{failure}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}


{{#if success}}
<div class="container">
    <div class="alert alert-success alert-dismissible fade show m-4" role="alert">
        {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}