<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/welcome"><img class="m-2" src="/images/Kiwi_Sport_Logo.png" alt="Kiwi Sport Logo"
                width="120px"> Kiwi Sport</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         {{#if user}}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/welcome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/welcome#pedidos">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        {{/if}}
    </div>
</nav>