


<div class="container mt-4">

    <div class="row">
        <div class="col-12 col-md-9">
            <h1>Registro de Recepcionistas</h1>
        </div>
        <div class="col-12 col-md-3 d-flex justify-content-end">
            <a class="btn btn-dark btn-block btn-lg mb-4 me-3" href="/signup"> Registrar </a>
        </div>
    </div>


    <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Los recepcionistas que se encuentran registrados son:</p>
    <div class="container">
        <table class="table table-striped table-light table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Correo</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <th scope="row" class="text-center">{{correo}}</th>
                    <td class="text-center">{{nombre}}</td>
                    <td class="text-center">{{telefono}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>