 <section class="text-center text-lg-start ms-lg-5">
            <!-- Container -->
            <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="card cascading-right" style="background: hsla(0, 0%, 93%, 0.55); backdrop-filter: blur(30px);">

                    <div class="card-body p-5 shadow-5 text-center">
                    <h2 class="mb-4 login">Registrar Recepcionista</h2>

                    <form action="/signup" method="POST">       
                        <!-- Email -->
                        <div class="form-outline mb-4">
                        <input type="email" name="correo" class="form-control" />
                        <label class="form-label login_item" for="form3Example3">Correo Electrónico</label>
                        </div>
        
                        <!-- Password -->
                        <div class="form-outline mb-4">
                        <input type="password" name="contrasenia" class="form-control" />
                        <label class="form-label login_item" for="form3Example4">Contraseña</label>
                        </div>

                        <!-- Nombre -->
                        <div class="form-outline mb-4">
                        <input type="text" name="nombre" class="form-control" />
                        <label class="form-label login_item" for="form3Example4">Nombre</label>
                        </div>
        
                        <!-- Teléfono -->
                        <div class="form-outline mb-4">
                        <input type="text" name="telefono" class="form-control" />
                        <label class="form-label login_item" for="form3Example4">Teléfono</label>
                        </div>
        
                        <!-- Submit button -->
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-dark btn-block btn-lg mb-4">
                                Registrar
                            </button>
                        </div>
                    </form>
                    
                    </div>
                </div>
                </div>
        
                <div class="col-lg-5 mb-5 mb-lg-0">
                <img src="/images/rugby.jpg" class="rounded-4 shadow-4" width="382px"
                    alt="prueba" />
                </div>
            </div>
            </div>
            <!-- Jumbotron -->
        </section>